.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-commits {
  padding: 15px;
  margin: 0 auto;
}

.form-commits .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-commits .form-control:focus {
  z-index: 2;
}

label {
  margin-top: 10px;
}
.input-form {
  padding: 20px;
  border:1px;
  border-style:solid;
  border-color:black;
  border-radius:5px;
  background-color: #eee;
}

#user {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#repo {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}